*
{
    margin: 0;
}
body
{
    font-family: sans-serif;
}
.header
{
    width: 98.5%;
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    border: solid 2px whitesmoke;
    border-radius: 10px;
    z-index: 3;
    background-color: rgba(236, 236, 236, 0.872);
}
.header p
{
    font-weight: 600;
    font-size: 32px;
    color: #192252;
    margin-left: 20px;
}
.headmain
{
    width: 275px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.headmain p
{
    font-size: 16px;
    font-weight: 500;
    color: #192252;
}
.header button
{
    width: 120px;
    height: 45px;
    border: none;
    border: 2px solid;
    border-radius: 4px;
    background-color: #0E1734;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-right: 20px;
}
.podhead
{
    width: 90%;
    height: 945px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.podhead1
{
    width: 480px;
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 200px;
}
.p1
{
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: -1%;
    color: #192252;
}
.p2
{
    color: #848FAC;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
}
.podhead1 button
{
    width: 156px;
    height: 51px;
    border: none;
    border: 1px solid #0E1734;
    border-radius: 4px;
    background-color: #0E1734;
    color: white;
    margin-left: -330px;
    margin-top: 20px;
}
.podhead2
{
    position: absolute;
    left: 750px;
}
.un2
{
    position: relative;
    top: 100px;
}
.section3
{
    width: 90%;
    height: 736px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.section3 img
{
    max-width: 400px;
    max-height: 600px;
}
.sec3text
{
    width: 550px;
    height: 366px;
}
.cozy
{
    width: 600px;
    height: 108px;
}
.cozy p
{
    font-weight: 600;
    font-size: 36px;
}
.our p
{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
}
.sec3text button
{
    width: 156px;
    height: 51px;
    border: none;
    border: 1px solid #0E1734;
    border-radius: 4px;
    background-color: #0E1734;
    color: white;
    margin-top: 20px;
}